/* Main body styling */
body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px !important;
    overflow: auto;
}

/* Disable background scrolling when modal is open */
/* Modal Overlay (background) */

/* Modal Content */
.modal-content {
    background-color: white;
    border-radius: 18px;
    padding: 20px;
    max-width: 500px;
    width: 100%;
    border: 1px solid black;
}

/* Disable background scroll when modal is open */
.modal-open {
    overflow: hidden;
}


/* Responsive modal dialog */
.modal-dialog {
    margin: auto;
    max-width: 90%; /* Width control for small screens */
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px; /* Limits modal width on larger screens */
    }
}

/* Modal content styling */

/* Styling for gradient button */
.bt {
    background: linear-gradient(90deg, #FE512E 0%, #F09619 100%);
    border-right:1px solid #F09619;
}

/* Error text styling */
.text-danger {
    color: #ff4d4f;
    font-size: 0.875rem;
}
