
body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px !important;
    
}

.modal {
    position: fixed;
    top: 15%;
    left: 40%;
    width: 410px;
    height: auto; 
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1050;
}

.modal-dialog {
    margin: auto;
}