/* Custom scrollbar styles */
.scrollbar-thin {
  scrollbar-width: light; /* Firefox */
}

.scrollbar-thin::-webkit-scrollbar {
  width: 5px; 
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #202224;
  border-radius: 10px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background-color: #f0f0f0; 
  border-radius: 10px
}



.Content{
  width: 300px;
  text-align: center;
}

/* Designing for scroll-bar */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: gainsboro;
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}